#OSX Temp
.DS_Store
.Trashes
*.swp
*.lock
.buildpath
.project

**thumbs.db

:w
.svn
.settings

node_modules
application/cache/default/*
application/cache/pages/*
public/uploaded/*
public/scripts/pdw_file_browser/cache/*
httpdocs/scripts/pdw_file_browser/cache/*
logs/*

**/*.log

*.sublime-workspace
*.sublime-project
nbproject

bower_components

*.log

.sass-cache

httpdocs/uploaded
public/uploaded
httpdocs/imagesOld
httpdocs/scriptsOld
httpdocs/uploadedStaging
public/uploadedStaging
logs
*/tmp
*/backup
**-bak
*/ebrochureOld
*/ebrochureOLD
applicationOld
libraryOld
application/cache/*
**.svn

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/launch.json

#NPM
npm-debug.*

#Cake
tools/*
!tools/packages.config
go.selfupdate.ps1
buildparameters.json
# Cake Distrib files
*.dist.cake
AssemblyGeneratedVersion.json
BuildVersion.json
ReleaseVersion.json
/package-lock.json
.env/
.buildenv/
BuildArtifacts/
.build-cache/
gitversion.properties

# Deployment templates
Release*Version.json
SiteEnvironment.*.json
*.dist
